.btn-white {
  color: $gray-950;
  background-color: $white;
  border-color: $gray-400;
}

.btn-white:hover,
.btn-white:focus {
  color: $gray-950;
  background-color: $white;
  border-color: $gray-400;
}