{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body class="page-body {{ bodyClass }}">
    {% block header %}
      {% include "shared/header.html" %}
    {% endblock %}
    <div class="page-wrapper">
      {% block content %}{% endblock %}
    </div>
    {% block footer %}
      {% include "shared/footer.html" %}
    {% endblock %}
    {% block javascript %}
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
      <script src="javascripts/app.js"></script>
    {% endblock %}
  </body>
</html>
